body {
    background-color: black;
}

.path3D {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective-origin: center;
    -moz-perspective-origin: center;
    -webkit-perspective-origin: center;
    -ms-perspective-origin: center;
}

.screen {
    width: 100%;
    height: 10%;
}